{% extends "base.html" %}

{% block content %}
    {% set year = None %}
    {% for page in pages  %}
      {% set this_year = page.meta.date.strftime("%Y") %}
      {% if year != this_year %}
        {% set year = this_year %}
        {% if not loop.first %}
          </section>
        {% endif %}
        <section class="archives"><h1 class="year">{{ page.meta.date.strftime("%Y") }}</h1>
      {% endif %}
      <article>{% set page_url = url_for("page", path=page.meta.permalink) %}
        <h1 class="title"><a href="{{ page_url }}">{{page.meta.title}}</a></h1>
        <div class="meta">
          <span class="date">{{ page.meta.date.strftime("%b %e") }}</span>
          <span class="tags">
            {%- set pipe = joiner(", ") -%}{%- for category in page.meta.categories -%}{{ pipe() }}
            <a href='{{ url_for('categories',categories=category) }}'>{{ category }}</a>
            {%- endfor -%}</span>
         {% if site.disqus_short_name and page.meta.comments == true and site.disqus_show_comment_count == true %}
         <span class="comments"><a href="{{ page_url }}#disqus_thread">Comments</a></span>
         {% endif %}
        </div>
      </article>
    {% endfor %}
{% endblock content %}
